*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:
    radial-gradient(circle at left,#010647 0%,#070707 30%),
    radial-gradient(circle at right,#00111d 0%,#050505 30%);

    background-color:#050505;

    overflow:hidden;

    font-family:'Inter',sans-serif;

    color:white;
}

.container{

    width:100%;
    height:100vh;

    position:relative;
}



.topbar{

    position:absolute;

    top:0;
    left:0;

    width:100%;

    padding:25px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:100;
}

.logo{

    display:flex;
    align-items:center;
    gap:20px;
}

.logo h1{

    font-family:'Orbitron',sans-serif;

    font-size:32px;

    letter-spacing:3px;
}

.logo span{

    color:#ff2a1b;
}

.car-section{

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

#car{

    width:78%;

    max-width:1400px;

    transition:0.4s ease;

    user-select:none;
    pointer-events:none;
}



.hotspot{

    position:absolute;

    width:42px;
    height:42px;

    border-radius:50%;

    border:none;

    cursor:pointer;

    background:
    rgba(255,255,255,0.08);

    backdrop-filter:blur(8px);

    z-index:50;

    transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;

    animation:
    pulse 2.5s infinite ease-in-out,
    float 3s infinite ease-in-out;
}

.hotspot::before{

    content:"";

    position:absolute;

    inset:9px;

    border-radius:50%;

    background:white;

    box-shadow:
    0 0 10px white;
}

.hotspot::after{

    content:"";

    position:absolute;

    inset:-8px;

    border-radius:50%;

    border:
    1px solid rgba(255,255,255,0.3);

    animation:
    ring 2s infinite;
}

.hotspot:hover{

    transform:
    scale(1.25);

    background:
    rgba(0,174,255,0.15);

    box-shadow:
    0 0 15px white,
    0 0 35px #00bfff,
    0 0 60px #00bfff;
}

.hotspot:active{

    transform:
    scale(0.92);
}

.hotspot.selected{

    background:
    rgba(0,174,255,0.2);

    box-shadow:
    0 0 20px #00bfff,
    0 0 50px #00bfff;
}



.capo{

    top:42%;
    left:15%;
}

.puerta1{

    top:55%;
    left:34%;
}

.puerta2{

    top:66%;
    left:58%;
}

.puerta3{

    top:57%;
    left:63%;
}

.puerta4{

    top:57%;
    left:76%;
}

.baul{

    top:42%;
    left:82%;
}



.info-panel{

    position:absolute;

    right:-500px;

    top:60%;

    width:550px;

    opacity:0;

    transform:
    translateY(-50%)
    translateX(50px);

    background:
    rgba(2, 6, 73, 0.438);

    backdrop-filter:blur(15px);

    border:
    1px solid rgba(2, 9, 51, 0.432);

    border-radius:25px;

    padding:30px;

    transition:0.5s ease;

    z-index:100;
}

.info-panel.active{

    right:20px;

    opacity:1;

    transform:
    translateY(-50%)
    translateX(0);
}

.info-panel img{

    width:100%;

    border-radius:15px;

    margin:20px 0;
}

.info-panel h2{

    font-size:38px;

    margin-bottom:10px;

    font-family:'Orbitron',sans-serif;
}

.info-panel p{

    color:#ffffff;

    line-height:1.7;

    margin-bottom:25px;
}

.stats{

    display:flex;
    flex-direction:column;
    gap:15px;
}

.stat{

    display:flex;
    justify-content:space-between;

    padding-bottom:10px;

    border-bottom:
    1px solid rgba(255,255,255,0.1);
}



.close-btn{

    margin-top:25px;

    width:100%;

    padding:15px;

    border:none;

    border-radius:15px;

    background:#ff1b1b;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

.close-btn:hover{

    background:#ff3b3b;

    transform:translateY(-2px);

    box-shadow:
    0 0 20px rgba(255,0,0,0.4);
}


.bottom-menu{

    position:absolute;

    bottom:25px;

    left:50%;

    transform:translateX(-50%);

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px;

    border-radius:30px;

    background:
    rgba(255,255,255,0.05);

    backdrop-filter:blur(20px);

    border:
    1px solid rgba(255,255,255,0.08);

    box-shadow:
    0 0 25px rgba(0,0,0,0.35);

    z-index:100;

    transition:0.3s;
}

.bottom-menu:hover{

    box-shadow:
    0 0 35px rgba(0,191,255,0.15);
}


.menu-btn{

    padding:
    12px 22px;

    border:none;

    border-radius:18px;

    background:transparent;

    color:white;

    font-size:14px;

    letter-spacing:1px;

    cursor:pointer;

    transition:0.3s ease;

    position:relative;

    overflow:hidden;

    font-family:'Orbitron',sans-serif;

    min-width:110px;

    height:50px;
}



.menu-btn::before{

    content:"";

    position:absolute;

    top:0;
    left:-120%;

    width:100%;
    height:100%;

    background:
    linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.2),
        transparent
    );

    transition:0.5s;
}

.menu-btn:hover::before{

    left:120%;
}



.menu-btn:hover{

    background:
    rgba(0,174,255,0.12);

    box-shadow:
    0 0 15px rgba(0,174,255,0.35);

    transform:
    translateY(-2px);
}



.menu-btn:active{

    transform:scale(0.95);
}



.menu-btn.active{

    background:
    rgba(0,174,255,0.18);

    box-shadow:
    0 0 20px rgba(0,174,255,0.45);

    color:#7fdcff;
}



.fade{

    opacity:0;
}



@keyframes pulse{

    0%{

        box-shadow:
        0 0 0px rgba(255,255,255,0.2);
    }

    50%{

        box-shadow:
        0 0 20px rgba(255,255,255,0.25);
    }

    100%{

        box-shadow:
        0 0 0px rgba(255,255,255,0.2);
    }
}

@keyframes float{

    0%{

        transform:
        translateY(0px);
    }

    50%{

        transform:
        translateY(-4px);
    }

    100%{

        transform:
        translateY(0px);
    }
}

@keyframes ring{

    0%{

        transform:scale(0.8);

        opacity:1;
    }

    100%{

        transform:scale(1.6);

        opacity:0;
    }
}
