  body {

  margin: 0;
  
    color: rgba(81, 117, 39, 0.363);
  }
  #pantalla-carga {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.imagen-carga {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

/* Barra */
.loader {
  width: 300px;
  height: 20px;
  background: #222;
  border-radius: 20px;
  overflow: hidden;
}
.loader, .texto-carga {
  position: relative;
  z-index: 2;
}
.barra {
  height: 100%;
  width: 0%;
  background: lime;
  transition: width 0.3s;
}

.texto-carga {
  color: white;
  margin-top: 10px;
  font-family: Arial;
}
  .pantalla1 {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("fondos/fondoprincipal.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pantalla1 h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 8px 16px;
    font-family: '04b 30', sans-serif;
    color: rgb(255, 255, 255);
    background: rgba(99, 56, 134, 0);
    border-radius: 6px;
    z-index: 1;
}






.pantalla2 {
  height: 100vh;
  background-image: url("fondos/fondoniveles.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.pantalla2 h1 {
  position: absolute;
  bottom: 0;
  top: 1080px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
    font-family: '04b 30', sans-serif;
}



.contenido2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-rows: repeat(2, auto);   /* 2 filas */

  gap: 20px;
  width: 80%;
}

/* estilo de cada cuadro */
.caja1 {
  background: rgba(0,0,0,0.6);
  background-image: url("fondos/portadanivel1.png") ;
  color: white;
  padding: 100px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* centra vertical */
  align-items: center;     /* centra horizontal */
  
}
.caja1 p {
  margin-top: -90px;
  font-family: '04b 30', sans-serif;
}
.btn-nivel {
  margin-top: 70px;
  padding: 12px 15px;
  background: linear-gradient(145deg, #00eeffa6, #0077ffa6);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #00eaff94;
  
  box-shadow:
    0 0 10px #00eaff85,
    0 0 20px #00eaff6e,
    inset 0 0 10px #00eaff73;

  transition: 0.3s;
}

/* brillo al pasar el mouse */
.btn-nivel:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 20px #00ffff,
    0 0 40px #00ffff,
    inset 0 0 20px #00ffff;
}

  .message {
    color: rgb(0, 0, 0);
  }
  .character-container {
    padding: 70px;
    position: relative;
    width: 280px;
    cursor: pointer;
  }

  .character-container img {
    width: 100%;
    display: block;
  }
 .changing-text::after { content: "Vida"; animation: changeWord 8s infinite; }
 
@keyframes changeWord {
  0% { content: "Vida"; }
  30% { content: "Vida"; }

  40% { content: "2026"; }
  70% { content: "2026"; }

  100% { content: "Vida"; }
}

 .message { 
  position: absolute;
  bottom: 90%;
  left: 110%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 12px 18px;
  border-radius: 50px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: none;
  white-space: nowrap;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

/* Burbuja pequeña */
.message::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 30%;
  width: 15px;
  height: 15px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 50%;
}

/* Burbuja más pequeña */
.message::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 20%;
  width: 18px;
  height: 10px;
  background: white;
  border: 4px solid #ccc;
  border-radius: 50%;
}   





