body {
  margin: 0;
  min-height: 100vh;

  background-image: url("fondos/nivel1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.character-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 160px;
  cursor: default;
}
.character-container img {
  width: 100%;
  height: auto;
  display: block;
}
.message {
  position: absolute;
  bottom: 50%;
  right: 110%;
  transform: translate(0, 50%);
  background-color: #fff;
  padding: 12px 18px;
  border-radius: 50px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: block;
  white-space: nowrap;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  user-select: none;
  cursor: pointer;
}
.message:hover {
  background-color: #f6f6f6;
}





.play-button {
  position: absolute;
  left: 50%;
  bottom: 45%;
  transform: translateX(-50%);
  padding: 14px 32px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(135deg, #00a6ff, #00e3ff);
  color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  cursor: pointer;
}

.play-button:hover {
  opacity: 0.95;
}

#juego {
  position: relative;
  width: 100%;
  height: 100vh;
  display: none;
}

#personajeJuego {
  position: absolute;
  bottom: 190px;
  left: 0;
  width: 280px;
  transition: left 0.2s;
}
#personajeContenedor {
  position: absolute;
  bottom: -48px;
  left: 0;
  transition: transform 0.2s;
  
}
.izquierda {
  transform: scaleX(-1);
}


.texto {
  position: absolute;
  top: 40px;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: none;
}

#mision { left: 800px; }
#vision { left: 1200px; }

#pantallaFinal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: none;
  color: #046c9c;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: bold;
  font-family: Arial;

  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

#pantallaFinal.mostrar {
  opacity: 1;
}

.btn-regresar {
  position: absolute;
  top: 15px;
  right: 15px;

  padding: 12px 22px;
  font-size: 16px;
  font-weight: bold;
  color: #003344;


  background: linear-gradient(145deg, #3f9fb8, #3d83a7);

  border: 2px solid #ccf7ff;
  border-radius: 12px;

  cursor: pointer;
  display: none;

  box-shadow:
    0 0 10px #59b4d3,
    0 0 20px #4285a7,
    inset 0 0 10px rgba(255,255,255,0.6);

  transition: 0.3s;
  z-index: 10;
}

.btn-regresar:hover {
  transform: scale(1.1);

  color: #002233;

  background: linear-gradient(145deg, #ccf7ff, #80dfff);

  box-shadow:
    0 0 20px #00ffff,
    0 0 40px #66ccff,
    0 0 60px #99e6ff,
    inset 0 0 20px #ffffff;
}